.app {
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

@media only screen and (max-device-width:767px) {
    body {
        width: auto;
        margin: 0;
        padding: 0;
    }
    header {
        background: blue;
        margin-top: 15px;
        margin-bottom: 10px;
        flex: 1;
        flex-direction: column;
    }
    section.firstSection {
        background: green;
        margin-top: 15px;
        margin-bottom: 10px;
        flex: 2;
    }
    article.ArticleView {
        background: yellow;
        margin-top: 15px;
        margin-bottom: 10px;
        height: 10em;
        flex: 2;
    }
    footer {
        position: relative;
        background: red;
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 1;
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .app {
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
    }
    body {
        width: auto;
        margin: 0;
        padding: 0;
    }
    header {
        background: blue;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 50%;
        flex: 1;
    }
    section.firstSection {
        background: green;
        margin-top: 15px;
        margin-bottom: 10px;
        flex: 2;
    }
    section.lastSection {
        flex-direction: column;
        columns: 2;
    }
    article.ArticleView {
        background: yellow;
        height: 10em;
    }
    article.ArticleView2 {
        background: purple;
        height: 10em;
        margin-top: 10px;
    }
    footer {
        position: relative;
        background: red;
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 1;
    }
}